# vim:ft=yaml:fenc=utf-8:fdm=marker
encryption: gpg

gpg:
  recipient: sgoudham@gmail.com

edit:
  command: lvim
diff:
  command: lvim
  args:
    - "-d"
    - "{{`{{ .Destination }}`}}"
    - "{{`{{ .Target }}`}}"
merge:
  command: nvim
  args:
    - "-d"
    - "{{`{{ .Destination }}`}}"
    - "{{`{{ .Source }}"
    - "{{ .Target }}`}}"
