[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/xremap /home/goudham/.config/xremap/config.yml
Restart=on-failure
RestartSec=5s
User=root
Group=root
Type=simple

[Unit]
After=graphical-session.target
Description=xremap service